<div class="sgcomponent__wrapper" data-id="{{= it.id }}" id="comp-{{= it.id}}">
    <h3 class="sgh3">{{= it.name }}</h3>
    <div class="sgcomponent">
        <h4 class="sgh4">Example:</h4>
        {{~ it.parentModifiers :value:index }}
            <div class="sgcomponent__template {{=value}}">
                {{= it.template}}
            </div>
        {{~}}
    </div>
    {{? it.rawTemplate}}
        <div class="sgcomponent--code">
            <h4 class="sgh4">Template snippet:</h4>
            <code>{{= it.rawTemplate}}</code>
        </div>
    {{?}}
    {{? it.rawRuntime}}
        <div class="sgcomponent--code">
            <h4 class="sgh4">Javascript snippet:</h4>
            <code>{{= it.rawRuntime}}</code>
        </div>
    {{?}}
</div>
