$color-error-50: #e82e21;
$color-success-50: #129612;

$color-neutral-0: #000;
$color-neutral-10: #262626;
$color-neutral-20: #323232;
$color-neutral-35: #666;
$color-neutral-45: #b3b3b3;
$color-neutral-50: #ccc;
$color-neutral-53: #d0d0d0;
$color-neutral-54: #d1d1d1;
$color-neutral-55: #d9d9d9;
$color-neutral-60: #e9e9e9;
$color-neutral-75: #f2f2f2;
$color-neutral-76: #f3f3f3;
$color-neutral-80: #f7f7f7;
$color-neutral-100: #fff;

$color-primary-50: #e82e21;
// $color-primary-55: #1d438e;
// $color-primary-60: #5b82d3;
// $color-primary-75: #f47422;
// $color-primary-80: #f8b89b;

// $color-secondary-40: #87846d;
// $color-secondary-45: #999680;
// $color-secondary-50: #88a906;
// $color-secondary-52: #d5d0ac;
// $color-secondary-55: #dbd6b8;
// $color-secondary-75: #f2ecce;
// $color-secondary-85: #f6f0d3;
// $color-secondary-90: #f9f4e0;
// $color-secondary-100: #fffbe8;

// $color-extra-1: #ac90c6;
// $color-extra-2: #acbe65;
// $color-extra-3: #c06d8f;

$color-facebook: #3b5998;
$color-twitter: #00abf0;
$color-instagram: #cd486b;
