$error-50-color: #e82e21;
$success-50-color: #129612;

$neutral-0-color: #000;
$neutral-10-color: #262626;
$neutral-20-color: #323232;
$neutral-35-color: #666;
$neutral-45-color: #b3b3b3;
$neutral-50-color: #ccc;
$neutral-53-color: #d0d0d0;
$neutral-54-color: #d1d1d1;
$neutral-55-color: #d9d9d9;
$neutral-60-color: #e9e9e9;
$neutral-75-color: #f2f2f2;
$neutral-76-color: #f3f3f3;
$neutral-80-color: #f7f7f7;
$neutral-100-color: #fff;

$primary-50-color: #e82e21;
// $primary-55-color: #1d438e;
// $primary-60-color: #5b82d3;
// $primary-75-color: #f47422;
// $primary-80-color: #f8b89b;

// $secondary-40-color: #87846d;
// $secondary-45-color: #999680;
// $secondary-50-color: #88a906;
// $secondary-52-color: #d5d0ac;
// $secondary-55-color: #dbd6b8;
// $secondary-75-color: #f2ecce;
// $secondary-85-color: #f6f0d3;
// $secondary-90-color: #f9f4e0;
// $secondary-100-color: #fffbe8;

// $extra-1-color: #ac90c6;
// $extra-2-color: #acbe65;
// $extra-3-color: #c06d8f;

$facebook-color: #3b5998;
$twitter-color: #00abf0;
$instagram-color: #cd486b;
