$color-neutral-0: #000;
$color-neutral-25: #323232;
$color-neutral-50: #ccc;
$color-neutral-75: #f2f2f2;
$color-neutral-100: #fff;

$color-primary-50: #e82e21;

// $color-secondary-50: #88a906;
// $color-secondary-75: #f2ecce;
// $color-secondary-100: #fffbe8;

// $color-extra-1: #ac90c6;
// $color-extra-2: #acbe65;
// $color-extra-3: #c06d8f;

$color-error-50: #e82e21;
$color-success-50: #129612;

$color-facebook: #3b5998;
$color-twitter: #00abf0;
$color-instagram: #cd486b;
