{
    "presets": ["es2015"],
    "plugins": [],
    "env": {
        "test": {
            "plugins": []
        },
        "dev": {
            "plugins": []
        },
        "production": {
            "plugins": [
                ["discard-module-references", {
                    "targets": ["validate", "./validate.js"]
                }],
                "babel-strip-test-code"
            ]
        }
    }
}
