{
    "presets": ["es2015"],
    "plugins": [],
    "env": {
        "test": {},
        "dev": {},
        "production": {
            "plugins": [
                ["remove-code", {
                    "import": ["validate", "./validate.js"],
                    "var": ["__[^]+__"]
                }]
            ]
        }
    }
}
