* {
    box-sizing: border-box;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

img {
    max-width: 100%;
    height: auto;
}

html,
body,
#body-wrapper {
    height: 100%;
    min-width: $break-min-mobile;
    color: $neutral-0-color;
}

// -------------------------------
// Content

.block-full {
    max-width: $break-desktop;
    padding: 0 $global-padding;
    margin: 0 auto;

    @media screen and (max-width: $break-tablet) {
        padding: 0 $global-padding-tablet;
    }

    @media screen and (max-width: $break-mobile) {
        padding: 0 $global-padding-mobile;
    }
}

.block-full-without-pad {
    max-width: $break-desktop - ($global-padding * 2);
    padding: 0;
    margin: 0 auto;

    @media screen and (max-width: $break-tablet) {
        max-width: $break-desktop - ($global-padding-tablet * 2);
    }

    @media screen and (max-width: $break-mobile) {
        max-width: $break-desktop - ($global-padding-mobile * 2);
    }
}
