/* line 3, /Users/sendoushi/work/go/src/github.com/sendoushi/bedrock-utils/test/data/nested/bar.scss */
body {
  font-family: Arial;
}

/* line 7, stdin */
.foo .bar {
  color: red;
}

/* line 11, stdin */
.foo .foo-bar {
  color: aqua;
}

/* line 14, stdin */
.foo .foo-bar.inside {
  color: purple;
}

/* line 20, stdin */
.another-class {
  display: -ms-flexbox;
  display: flex;
  color: #000;
  padding: 12px;
  transition: animation 0.3s ease-out;
}
